<center><h4>Ton profil: </h4>
	<p> Tu es connecté avec le compte <%=current_user.email%> </p>

<% @event.each do |event| %>
  <%if @admin_id == event.admin_id%>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
      	<p class="card-text"><B>Titre: </B><%= event.title %></a>
      		<div class="btn btn-primary"><%= link_to "Voir", event_path(event.id) %> </div>
      </div>
    </div>
  </div>
<%end%>
<%end%>

<br>

<div class="btn btn-primary"><%= link_to "Pour modifier ton adresse mail ou ton password", edit_user_registration_path%></div>
</center>